<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="bed">
            <h2><span jhiTranslate="iconnectSampleAppLabApp.bed.detail.title">Bed</span> {{ bed.id }}</h2>

            <hr>

            <ic-alert-error></ic-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="iconnectSampleAppLabApp.bed.bedReferenceId">Bed Reference Id</span></dt>
                <dd>
                    <span>{{ bed.bedReferenceId }}</span>
                </dd>
                <dt><span jhiTranslate="iconnectSampleAppLabApp.bed.bedName">Bed Name</span></dt>
                <dd>
                    <span>{{ bed.bedName }}</span>
                </dd>
                <dt><span jhiTranslate="iconnectSampleAppLabApp.bed.wardAllocationDate">Ward Allocation Date</span></dt>
                <dd>
                    <span>{{ bed.wardAllocationDate }}</span>
                </dd>
                <dt><span jhiTranslate="iconnectSampleAppLabApp.bed.ward">Ward</span></dt>
                <dd>
                    <div *ngIf="bed.wardId">
                        <a [routerLink]="['/ward', bed.wardId, 'view']">{{ bed.wardWardName }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/bed', bed.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
