<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="ward">
            <h2><span>View Ward</span></h2>

            <hr>

            <ic-alert-error></ic-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Ward Reference ID</span></dt>
                <dd>
                    <span>{{ ward.wardReferenceId }}</span>
                </dd>
                <dt><span jhiTranslate="iconnectSampleAppLabApp.ward.wardName">Ward Name</span></dt>
                <dd>
                    <span>{{ ward.wardName }}</span>
                </dd>
                <dt><span jhiTranslate="iconnectSampleAppLabApp.ward.wardClassType">Ward Class Type</span></dt>
                <dd>
                    <span>{{ wardClassType }}<span>
                </dd>
                <dt><span jhiTranslate="iconnectSampleAppLabApp.ward.wardLocation">Ward Location</span></dt>
                <dd>
                    <span>{{ wardLocation }}</span>
                </dd>
                <dt><span>No. of Bed</span></dt>
                <dd>
                    <span>{{ getNumOfBed(ward.id) }}</span>
                </dd>
                <dt><span>Listing of Beds</span></dt>
                <dd>
                    <div class="table-responsive" *ngIf="beds?.length > 0">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col"><span>S/N</span></th>
                                    <th scope="col" ><span >Bed Reference ID</span></th>
                                    <th scope="col"><span j>Bed Name</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let bed of beds;let i = index">
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ bed.bedReferenceId }}</td>
                                    <td><a [routerLink]="['/bed', bed.id, 'view']">{{ bed.bedName }}</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-responsive" *ngIf="beds?.length == 0">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td>No bed records</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ward', ward.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
